-e git+https://github.com/Bhargavvvv2912/gym_AURA@97e3f0ef07ca0b82906745d72cd9215b591e809a#egg=gym
ale-py==0.11.2
box2d-py==2.3.8
cloudpickle==3.1.2
cycler==0.12.1
gym-notices==0.1.0
imageio==2.37.2
importlib-metadata==8.7.1
importlib_resources==6.5.2
kiwisolver==1.4.7
lz4==4.4.5
matplotlib==3.9.4
numpy==2.0.2
opencv-python==4.13.0.92
pillow==11.3.0
pygame==2.6.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
zipp==3.23.0